// COLORS
$primary-color: #282c34;
$secondary-color: #282c34;

// $primary-color: #7f449d;
// $secondary-color: #282c34;

$white-color: #fff;

$dark-grey: #282c34;

$dark-blue-text: #282c34; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
